<h1><%= Comment.model_name.human %></h1>
<% if commentable.comments.includes(:user).present? %>
<table>
  <thead>
  <tr>
    <th><%= User.model_name.human %></th>
    <th><%= Comment.human_attribute_name(:body) %></th>
    <th><%= Comment.human_attribute_name(:created_at) %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% commentable.comments.includes(:user).each do |comment| %>
    <tr>
      <td><%= comment.user.name.empty? ? comment.user.email : comment.user.name %></td>
      <td><%= comment.body %></td>
      <td><%= l(comment.created_at, format: :short) %>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p> <%= t('views.common.no_comment') %></p>
<% end %>
